# Day 1: Intro to python

In [8]:
# importing libraries for numerical operations and plotting
import numpy as np
import matplotlib.pyplot as plt

Many shell commands still work in the ipython terminal and the jupyter notebook.  For any that don't work, you can escape the python shell and execute additional commands with `!`

In [2]:
ls

char_count.py  data/          day1.ipynb     day2.ipynb

In [3]:
cd data

/Users/ely/swc/2016-09-06-lsst_notebooks/data

In [4]:
pwd

u'/Users/ely/swc/2016-09-06-lsst_notebooks/data'

In [5]:
ls

inflammation-01.csv  inflammation-06.csv  inflammation-11.csv
inflammation-02.csv  inflammation-07.csv  inflammation-12.csv
inflammation-03.csv  inflammation-08.csv  small-01.csv
inflammation-04.csv  inflammation-09.csv  small-02.csv
inflammation-05.csv  inflammation-10.csv  small-03.csv

In [6]:
!head inflammation-01.csv

0,0,1,3,1,2,4,7,8,3,3,3,10,5,7,4,7,7,12,18,6,13,11,11,7,7,4,6,8,8,4,4,5,7,3,4,2,3,0,0
0,1,2,1,2,1,3,2,2,6,10,11,5,9,4,4,7,16,8,6,18,4,12,5,12,7,11,5,11,3,3,5,4,4,5,5,1,1,0,1
0,1,1,3,3,2,6,2,5,9,5,7,4,5,4,15,5,11,9,10,19,14,12,17,7,12,11,7,4,2,10,5,4,2,2,3,2,2,1,1
0,0,2,0,4,2,2,1,6,7,10,7,9,13,8,8,15,10,10,7,17,4,4,7,6,15,6,4,9,11,3,5,6,3,3,4,2,3,2,1
0,1,1,3,3,1,3,5,2,4,4,7,6,5,3,10,8,10,6,17,9,14,9,7,13,9,12,6,7,7,9,6,3,2,2,4,2,0,1,1
0,0,1,2,2,4,2,1,6,4,7,6,6,9,9,15,4,16,18,12,12,5,18,9,5,3,10,3,12,7,8,4,7,3,5,4,4,3,2,1
0,0,2,2,4,2,2,5,5,8,6,5,11,9,4,13,5,12,10,6,9,17,15,8,9,3,13,7,8,2,8,8,4,2,3,5,4,1,1,1
0,0,1,2,3,1,2,3,5,3,7,8,8,5,10,9,15,11,18,19,20,8,5,13,15,10,6,10,6,7,4,9,3,5,2,5,3,2,2,1
0,0,0,3,1,5,6,5,5,8,2,4,11,12,10,11,9,10,17,11,6,16,12,6,8,14,6,13,10,11,4,6,4,7,6,3,2,1,0,0
0,1,1,2,1,3,5,3,5,8,6,8,12,5,13,6,13,8,16,8,18,15,16,14,12,7,3,8,9,11,2,5,4,5,1,4,1,2,0,0

In [37]:
my_array = np.loadtxt(fname='inflammation-01.csv', delimiter=',')

In [28]:
this_is_confusing = np.loadtxt

In [29]:
this_is_confusing(fname='inflammation-01.csv', delimiter=',')

array([[ 0.,  0.,  1., ...,  3.,  0.,  0.],
       [ 0.,  1.,  2., ...,  1.,  0.,  1.],
       [ 0.,  1.,  1., ...,  2.,  1.,  1.],
       ...,
       [ 0.,  1.,  1., ...,  1.,  1.,  1.],
       [ 0.,  0.,  0., ...,  0.,  2.,  0.],
       [ 0.,  0.,  1., ...,  1.,  1.,  0.]])

In [7]:
# Seeing what methods an object has
dir(np)

NameError: name 'np' is not defined

In [26]:
# Getting help on what functions can do
help(np.loadtxt)

Help on function loadtxt in module numpy.lib.npyio:

loadtxt(fname, dtype=<class 'float'>, comments='#', delimiter=None, converters=None, skiprows=0, usecols=None, unpack=False, ndmin=0)
    Load data from a text file.

    Each row in the text file must have the same number of values.

    Parameters
    ----------
    fname : file or str
        File, filename, or generator to read.  If the filename extension is
        ``.gz`` or ``.bz2``, the file is first decompressed. Note that
        generators should return byte strings for Python 3k.
    dtype : data-type, optional
        Data-type of the resulting array; default: float.  If this is a
        structured data-type, the resulting array will be 1-dimensional, and
        each row will be interpreted as an element of the array.  In this
        case, the number of columns used must match the number of fields in
        the data-type.
    comments : str or sequence, optional
        The characters or list of characters used to indicate the start of a
        comment;
        default: '#'.
    delimiter : str, optional
        The string used to separate values.  By default, this is any
        whitespace.
    converters : dict, optional
        A dictionary mapping column number to a function that will convert
        that column to a float.  E.g., if column 0 is a date string:
        ``converters = {0: datestr2num}``.  Converters can also be used to
        provide a default value for missing data (but see also `genfromtxt`):
        ``converters = {3: lambda s: float(s.strip() or 0)}``.  Default: None.
    skiprows : int, optional
        Skip the first `skiprows` lines; default: 0.
    usecols : sequence, optional
        Which columns to read, with 0 being the first.  For example,
        ``usecols = (1,4,5)`` will extract the 2nd, 5th and 6th columns.
        The default, None, results in all columns being read.
    unpack : bool, optional
        If True, the returned array is transposed, so that arguments may be
        unpacked using ``x, y, z = loadtxt(...)``.  When used with a structured
        data-type, arrays are returned for each field.  Default is False.
    ndmin : int, optional
        The returned array will have at least `ndmin` dimensions.
        Otherwise mono-dimensional axes will be squeezed.
        Legal values: 0 (default), 1 or 2.

        .. versionadded:: 1.6.0

    Returns
    -------
    out : ndarray
        Data read from the text file.

    See Also
    --------
    load, fromstring, fromregex
    genfromtxt : Load data with missing values handled as specified.
    scipy.io.loadmat : reads MATLAB data files

    Notes
    -----
    This function aims to be a fast reader for simply formatted files.  The
    `genfromtxt` function provides more sophisticated handling of, e.g.,
    lines with missing values.

    .. versionadded:: 1.10.0

    The strings produced by the Python float.hex method can be used as
    input for floats.

    Examples
    --------
    >>> from io import StringIO   # StringIO behaves like a file object
    >>> c = StringIO("0 1\n2 3")
    >>> np.loadtxt(c)
    array([[ 0.,  1.],
           [ 2.,  3.]])

    >>> d = StringIO("M 21 72\nF 35 58")
    >>> np.loadtxt(d, dtype={'names': ('gender', 'age', 'weight'),
    ...                      'formats': ('S1', 'i4', 'f4')})
    array([('M', 21, 72.0), ('F', 35, 58.0)],
          dtype=[('gender', '|S1'), ('age', '<i4'), ('weight', '<f4')])

    >>> c = StringIO("1,0,2\n3,0,4")
    >>> x, y = np.loadtxt(c, delimiter=',', usecols=(0, 2), unpack=True)
    >>> x
    array([ 1.,  3.])
    >>> y
    array([ 2.,  4.])

In [31]:
print(my_array)

[[ 0.  0.  1. ...,  3.  0.  0.]
 [ 0.  1.  2. ...,  1.  0.  1.]
 [ 0.  1.  1. ...,  2.  1.  1.]
 ...,
 [ 0.  1.  1. ...,  1.  1.  1.]
 [ 0.  0.  0. ...,  0.  2.  0.]
 [ 0.  0.  1. ...,  1.  1.  0.]]

In [32]:
whos

Variable            Type        Data/Info
-----------------------------------------
my_array            ndarray     60x40: 2400 elems, type `float64`, 19200 bytes
np                  module      <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
numpy               module      <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
plt                 module      <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
this                module      <module 'this' from '/hom<...>3/lib/python3.5/this.py'>
this_is_confusing   function    <function loadtxt at 0xaf67514c>

In [39]:
type(my_array)

numpy.ndarray

In [41]:
my_array.dtype

dtype('float64')

In [42]:
dir(my_array)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [49]:
my_array.shape

(60, 40)

In [51]:
oned_array = np.array([1, 2, 3, 4, 5])

In [53]:
oned_array[0]

1

In [55]:
twod_array = np.array([[1, 2, 3, 4, 5], [1, 2, 3, 4, 5]])

In [56]:
twod_array

array([[1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5]])

In [58]:
twod_array[0, 1]

2

### Exercise

Create the row-sum and column-sum arrays from this data.

You will need: dir()  help()

In [77]:
my_array.sum(1)

array([ 218.,  217.,  244.,  236.,  222.,  249.,  239.,  266.,  265.,
        261.,  271.,  232.,  249.,  230.,  209.,  252.,  262.,  228.,
        234.,  262.,  231.,  233.,  247.,  244.,  232.,  257.,  242.,
        241.,  247.,  262.,  247.,  254.,  269.,  245.,  283.,  229.,
        237.,  246.,  243.,  230.,  239.,  229.,  252.,  236.,  270.,
        237.,  289.,  246.,  238.,  251.,  228.,  244.,  273.,  239.,
        269.,  228.,  250.,  256.,  282.,  236.])

In [79]:
my_array.mean(axis=1)

array([ 5.45 ,  5.425,  6.1  ,  5.9  ,  5.55 ,  6.225,  5.975,  6.65 ,
        6.625,  6.525,  6.775,  5.8  ,  6.225,  5.75 ,  5.225,  6.3  ,
        6.55 ,  5.7  ,  5.85 ,  6.55 ,  5.775,  5.825,  6.175,  6.1  ,
        5.8  ,  6.425,  6.05 ,  6.025,  6.175,  6.55 ,  6.175,  6.35 ,
        6.725,  6.125,  7.075,  5.725,  5.925,  6.15 ,  6.075,  5.75 ,
        5.975,  5.725,  6.3  ,  5.9  ,  6.75 ,  5.925,  7.225,  6.15 ,
        5.95 ,  6.275,  5.7  ,  6.1  ,  6.825,  5.975,  6.725,  5.7  ,
        6.25 ,  6.4  ,  7.05 ,  5.9  ])

In [80]:
np.mean(my_array, axis=1)

array([ 5.45 ,  5.425,  6.1  ,  5.9  ,  5.55 ,  6.225,  5.975,  6.65 ,
        6.625,  6.525,  6.775,  5.8  ,  6.225,  5.75 ,  5.225,  6.3  ,
        6.55 ,  5.7  ,  5.85 ,  6.55 ,  5.775,  5.825,  6.175,  6.1  ,
        5.8  ,  6.425,  6.05 ,  6.025,  6.175,  6.55 ,  6.175,  6.35 ,
        6.725,  6.125,  7.075,  5.725,  5.925,  6.15 ,  6.075,  5.75 ,
        5.975,  5.725,  6.3  ,  5.9  ,  6.75 ,  5.925,  7.225,  6.15 ,
        5.95 ,  6.275,  5.7  ,  6.1  ,  6.825,  5.975,  6.725,  5.7  ,
        6.25 ,  6.4  ,  7.05 ,  5.9  ])

## Slicing

array[start:stop:step]

Indexing is 0 to N-1

In [ ]:
my_array[start:stop:step, start:stop:step]

In [81]:
my_array[:, 0].mean()

0.0

In [82]:
my_array[::2].mean()

6.2341666666666669

In [94]:
my_array[-1, -1]

0.0

# Slicing works on more than arrays

In [96]:
my_name = "Justin Ely"

In [116]:
# slicing
my_name[::-1]

'ylE nitsuJ'

In [113]:
# indexing
my_name[-2]

'l'

In [119]:
my_list = [1, 2, "hello", np.max]

In [120]:
my_list

[1, 2, 'hello', <function numpy.core.fromnumeric.amax>]

In [121]:
type(my_list)

list

In [122]:
my_list[::-1]

[<function numpy.core.fromnumeric.amax>, 'hello', 2, 1]

In [135]:
my_list = [1, 2, 3, 4, 5]

In [141]:
my_tup = (1, (2, 4), 3, 4, 5)

In [137]:
my_list[0] = 5

In [138]:
my_list

[5, 2, 3, 4, 5]

In [142]:
my_tup

(1, (2, 4), 3, 4, 5)

In [143]:
my_tupe = tuple([1, 2, 3, 4])

In [144]:
my_tupe

(1, 2, 3, 4)

## Slicing, indexing, etc

1. Create a string of your name and your favorite ice cream.  
  *  print it in reverse
  *  slice your name apart from the ice-cream flavor
  
2. Create a list of 5 people from the class.
  *  figure out how to add another student to the end
  *  figure out how to remove a student from the beginning
     * dir(), help(), internet for help

In [146]:
students = ["James", "James2", "Cindy", "Cindy2"]

In [147]:
students_plus_one = students.append("Bob")

In [148]:
students

['James', 'James2', 'Cindy', 'Cindy2', 'Bob']

In [150]:
type(students_plus_one)

NoneType

In [154]:
students = students + ["Bob2"]

In [155]:
students

['James', 'James2', 'Cindy', 'Cindy2', 'Bob', 'Bob2']

In [156]:
students.pop(0)

'James'

In [158]:
students

['James2', 'Cindy', 'Cindy2', 'Bob', 'Bob2']

In [159]:
name = students.pop(0)

In [160]:
name

'James2'

In [161]:
dir(students)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [162]:
students

['Cindy', 'Cindy2', 'Bob', 'Bob2']

In [163]:
students.sort()

In [164]:
students

['Bob', 'Bob2', 'Cindy', 'Cindy2']

In [165]:
students = students[::-1]

In [168]:
print(sorted(students))

['Bob', 'Bob2', 'Cindy', 'Cindy2']

# Sets

In [169]:
a = {1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6}

In [170]:
type(a)

set

In [171]:
a

{1, 2, 3, 4, 5, 6}

In [172]:
a = {1, 2, '3', 'frog', 'frog'}

In [173]:
a

{1, 'frog', 2, '3'}

In [174]:
a

{1, 'frog', 2, '3'}

In [175]:
b = a

In [176]:
b

{1, 'frog', 2, '3'}

In [177]:
a[0]

TypeError: 'set' object does not support indexing

### Excercise

1.  given {1, 2, 3, 4, 5, 6, 7, 8, 9} and a set {1, 2, 3}, print the set {4, 5, 6, 7, 8, 9}

2.  Produce the union of {1, 'flew', 'over'} and {'over', 'the', 1, 'cuckoos', 'nest'}

In [180]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9}
b = {1, 2, 3}

In [181]:
a.difference(b)

{4, 5, 6, 7, 8, 9}

In [182]:
a - b

{4, 5, 6, 7, 8, 9}

In [183]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [184]:
a = {1, 'flew', 'over'} 
b = {'over', 'the', 1, 'cuckoos', 'nest'}

In [185]:
a.union(b)

{1, 'cuckoos', 'flew', 'the', 'nest', 'over'}

In [188]:
a | b

{1, 'cuckoos', 'flew', 'the', 'nest', 'over'}

In [191]:
my_list = [(1, 2), (1, 2), (3, 4)]

In [192]:
my_list = list(set(my_list))

In [193]:
my_list

[(1, 2), (3, 4)]