In [1]:
thing = (1, 2, 3, 4)  
# thing = list(1, 2, 3, 4)

In [3]:
type(thing)

tuple

In [4]:
other = [1, 2, 3, 4, 'happy']

In [5]:
type(other)

list

In [6]:
a = {1, 2, 3,3, 4, 5, 6}

In [7]:
type(a)

set

In [9]:
list((1, 2, 3, 4))

[1, 2, 3, 4]

### Dictionaries

In [10]:
my_dict = {'name': 'justin', 'other_guy': 'john'}

In [14]:
my_set = {'name', 'justin', 'other_guy', 'john'}

In [11]:
type(my_dict)

dict

In [15]:
type(my_set)

set

In [12]:
my_dict['name']

'justin'

In [13]:
my_dict['other_guy']

'john'

In [16]:
type({})

dict

In [17]:
empty = set()

In [18]:
type(empty)

set

In [19]:
new_dict = {}

In [20]:
new_dict['name'] = 'justin'

In [21]:
print(new_dict)

{'name': 'justin'}

In [24]:
new_dict[0] = [1, 2, 3, 4, 5]
print(new_dict)

{0: [1, 2, 3, 4, 5], 'name': [1, 2, 3, 4, 5]}

In [25]:
new_dict[5] = [8, 7, 5, 4]

### Exercies
create a dictionary where keys are planets and values are lists of their moons.

In [30]:
planets = {'pluto': ['nix', 'hydra', 'charon'],
           'earth': ['moon'],
           'mercury': [],
           'jupiter': ['moon' + str(i) for i in range(67)]}

In [31]:
planets

{'earth': ['moon'],
 'jupiter': ['moon0',
  'moon1',
  'moon2',
  'moon3',
  'moon4',
  'moon5',
  'moon6',
  'moon7',
  'moon8',
  'moon9',
  'moon10',
  'moon11',
  'moon12',
  'moon13',
  'moon14',
  'moon15',
  'moon16',
  'moon17',
  'moon18',
  'moon19',
  'moon20',
  'moon21',
  'moon22',
  'moon23',
  'moon24',
  'moon25',
  'moon26',
  'moon27',
  'moon28',
  'moon29',
  'moon30',
  'moon31',
  'moon32',
  'moon33',
  'moon34',
  'moon35',
  'moon36',
  'moon37',
  'moon38',
  'moon39',
  'moon40',
  'moon41',
  'moon42',
  'moon43',
  'moon44',
  'moon45',
  'moon46',
  'moon47',
  'moon48',
  'moon49',
  'moon50',
  'moon51',
  'moon52',
  'moon53',
  'moon54',
  'moon55',
  'moon56',
  'moon57',
  'moon58',
  'moon59',
  'moon60',
  'moon61',
  'moon62',
  'moon63',
  'moon64',
  'moon65',
  'moon66'],
 'mercury': [],
 'pluto': ['nix', 'hydra', 'charon']}

In [34]:
print(planets)

{'earth': ['moon'], 'jupiter': ['moon0', 'moon1', 'moon2', 'moon3', 'moon4', 'moon5', 'moon6', 'moon7', 'moon8', 'moon9', 'moon10', 'moon11', 'moon12', 'moon13', 'moon14', 'moon15', 'moon16', 'moon17', 'moon18', 'moon19', 'moon20', 'moon21', 'moon22', 'moon23', 'moon24', 'moon25', 'moon26', 'moon27', 'moon28', 'moon29', 'moon30', 'moon31', 'moon32', 'moon33', 'moon34', 'moon35', 'moon36', 'moon37', 'moon38', 'moon39', 'moon40', 'moon41', 'moon42', 'moon43', 'moon44', 'moon45', 'moon46', 'moon47', 'moon48', 'moon49', 'moon50', 'moon51', 'moon52', 'moon53', 'moon54', 'moon55', 'moon56', 'moon57', 'moon58', 'moon59', 'moon60', 'moon61', 'moon62', 'moon63', 'moon64', 'moon65', 'moon66'], 'mercury': [], 'pluto': ['nix', 'hydra', 'charon']}

In [35]:
dir(planets)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [36]:
planets.keys()

dict_keys(['earth', 'jupiter', 'mercury', 'pluto'])

In [37]:
planets.values()

dict_values([['moon'], ['moon0', 'moon1', 'moon2', 'moon3', 'moon4', 'moon5', 'moon6', 'moon7', 'moon8', 'moon9', 'moon10', 'moon11', 'moon12', 'moon13', 'moon14', 'moon15', 'moon16', 'moon17', 'moon18', 'moon19', 'moon20', 'moon21', 'moon22', 'moon23', 'moon24', 'moon25', 'moon26', 'moon27', 'moon28', 'moon29', 'moon30', 'moon31', 'moon32', 'moon33', 'moon34', 'moon35', 'moon36', 'moon37', 'moon38', 'moon39', 'moon40', 'moon41', 'moon42', 'moon43', 'moon44', 'moon45', 'moon46', 'moon47', 'moon48', 'moon49', 'moon50', 'moon51', 'moon52', 'moon53', 'moon54', 'moon55', 'moon56', 'moon57', 'moon58', 'moon59', 'moon60', 'moon61', 'moon62', 'moon63', 'moon64', 'moon65', 'moon66'], [], ['nix', 'hydra', 'charon']])

### Looping

In [ ]:
for item in iterable:
    # do something
    # do something else
    # do many things
    
#outside of loop

In [39]:
my_name = "justin charles ely"

for character in my_name:
    print(character)
    
    print("still in the loop")
    
print("all done")

j
still in the loop
u
still in the loop
s
still in the loop
t
still in the loop
i
still in the loop
n
still in the loop

still in the loop
c
still in the loop
h
still in the loop
a
still in the loop
r
still in the loop
l
still in the loop
e
still in the loop
s
still in the loop

still in the loop
e
still in the loop
l
still in the loop
y
still in the loop
all done

## try to loop over all the data types we just learned

string, list, tuple, set, dictionary, array

In [41]:
import numpy as np

In [60]:
my_array = np.array([[1, 2, 3], [4, 5, 6]])

In [64]:
for i, row in enumerate(my_array):
    print("The rownumber is {} and the values are {}".format(i, row))

The rownumber is 0 and the values are [1 2 3]
The rownumber is 1 and the values are [4 5 6]

In [52]:
for item in my_array.flatten():
    print(item)

1
2
3
4
5
6

In [56]:
my_array = np.ones((100, 100, 100))

In [57]:
%%time
cnt = 0
for plane in my_array:
    for row in plane:
        for val in row:
            cnt = cnt + val

CPU times: user 4.6 s, sys: 8 ms, total: 4.6 s
Wall time: 4.88 s

In [59]:
%%time
my_array.sum()

CPU times: user 4 ms, sys: 8 ms, total: 12 ms
Wall time: 35.9 ms

1000000.0

In [67]:
for item in planets:
    print(item, planets[item])

earth ['moon']
jupiter ['moon0', 'moon1', 'moon2', 'moon3', 'moon4', 'moon5', 'moon6', 'moon7', 'moon8', 'moon9', 'moon10', 'moon11', 'moon12', 'moon13', 'moon14', 'moon15', 'moon16', 'moon17', 'moon18', 'moon19', 'moon20', 'moon21', 'moon22', 'moon23', 'moon24', 'moon25', 'moon26', 'moon27', 'moon28', 'moon29', 'moon30', 'moon31', 'moon32', 'moon33', 'moon34', 'moon35', 'moon36', 'moon37', 'moon38', 'moon39', 'moon40', 'moon41', 'moon42', 'moon43', 'moon44', 'moon45', 'moon46', 'moon47', 'moon48', 'moon49', 'moon50', 'moon51', 'moon52', 'moon53', 'moon54', 'moon55', 'moon56', 'moon57', 'moon58', 'moon59', 'moon60', 'moon61', 'moon62', 'moon63', 'moon64', 'moon65', 'moon66']
mercury []
pluto ['nix', 'hydra', 'charon']

In [68]:
for item in planets.values():
    print(item)

['moon']
['moon0', 'moon1', 'moon2', 'moon3', 'moon4', 'moon5', 'moon6', 'moon7', 'moon8', 'moon9', 'moon10', 'moon11', 'moon12', 'moon13', 'moon14', 'moon15', 'moon16', 'moon17', 'moon18', 'moon19', 'moon20', 'moon21', 'moon22', 'moon23', 'moon24', 'moon25', 'moon26', 'moon27', 'moon28', 'moon29', 'moon30', 'moon31', 'moon32', 'moon33', 'moon34', 'moon35', 'moon36', 'moon37', 'moon38', 'moon39', 'moon40', 'moon41', 'moon42', 'moon43', 'moon44', 'moon45', 'moon46', 'moon47', 'moon48', 'moon49', 'moon50', 'moon51', 'moon52', 'moon53', 'moon54', 'moon55', 'moon56', 'moon57', 'moon58', 'moon59', 'moon60', 'moon61', 'moon62', 'moon63', 'moon64', 'moon65', 'moon66']
[]
['nix', 'hydra', 'charon']

In [69]:
for key, val in planets.items():
    print(key, val)

earth ['moon']
jupiter ['moon0', 'moon1', 'moon2', 'moon3', 'moon4', 'moon5', 'moon6', 'moon7', 'moon8', 'moon9', 'moon10', 'moon11', 'moon12', 'moon13', 'moon14', 'moon15', 'moon16', 'moon17', 'moon18', 'moon19', 'moon20', 'moon21', 'moon22', 'moon23', 'moon24', 'moon25', 'moon26', 'moon27', 'moon28', 'moon29', 'moon30', 'moon31', 'moon32', 'moon33', 'moon34', 'moon35', 'moon36', 'moon37', 'moon38', 'moon39', 'moon40', 'moon41', 'moon42', 'moon43', 'moon44', 'moon45', 'moon46', 'moon47', 'moon48', 'moon49', 'moon50', 'moon51', 'moon52', 'moon53', 'moon54', 'moon55', 'moon56', 'moon57', 'moon58', 'moon59', 'moon60', 'moon61', 'moon62', 'moon63', 'moon64', 'moon65', 'moon66']
mercury []
pluto ['nix', 'hydra', 'charon']

In [70]:
planets.keys()

dict_keys(['earth', 'jupiter', 'mercury', 'pluto'])

In [71]:
planets['mars']

KeyError: 'mars'

### conditions

In [72]:
True

True

In [73]:
False

False

In [75]:
if 0 > 4:
    print("thats definitely wrong")
elif 3 > 6:
    print("still not going here")
else:
    print("obviously i got here")

obviously i got here

In [77]:
0 == False

True

In [84]:
34 == True

False

In [85]:
'' == False

False

In [104]:
if '':
    print("empty string is true")
    
if 'word':
    print("word is true")
    
if []:
    print("empty list is true")
    
if [1, 2, 3, 4]:
    print("List full of things is true")
    
if 0:
    print("zero is true")
    
if 1:
    print("1 is true")
    
if -5:
    print("Negative numbers are true")

word is true
List full of things is true
1 is true
Negative numbers are true

In [106]:
1 == True

True

# Functions

In [107]:
def double(value):
    twice_that = 2 * value
    print(" I found {}".format(twice_that))
    
    return twice_that

In [108]:
double(4)

 I found 8

8

### Write a function to count the occurances of each letter in a string:

1.  This should take as input a string of any length
2.  it should create a dictionary where each key is a letter and each value is the count in that string.
3.  it should return that dictionary.

The output dictionary does not have to contain entries for non-existent letters.

In [110]:
def letter_counter(message):
    #-- start with an empty dictionary
    frequencies = {}
    
    #-- fill in here
    
    return frequencies

In [113]:
import string

In [130]:
def letter_counter(message):
    """ Count the frequencies of each alphabet letter in the message
    
    Non alpha character such as punctuation are not allow and will
    raise an arror.
    
    Parameters
    ----------
    message : str
        input message to count letter freq.
        
    Return
    ------
    frequencies : dict
        all collected frequencies.
        
    """
    
    if type(message) != str:
        raise ValueError("I require a string as input, found {}".format(type(message)))
    
    
    #-- start a dictionary with the entire alphabet, defaulted to a 
    #-- count of 0
    frequencies = dict.fromkeys(string.ascii_lowercase,0)
    
    #-- casting it all to lower case
    ##message=message.lower()
    
    for char in message:
        if char not in string.ascii_lowercase:
            raise ValueError("non-ascii character found: {}".format(char))
            
        frequencies[char] += 1

    #-- loop over all ascii lowercase letters
    for letter in string.ascii_lowercase:
    
        #-- remove from dict those that aren't there
        if frequencies[letter] == 0:
            frequencies.pop(letter)
        
    return frequencies

In [126]:
letter_counter([1, 2, 3, 4, 5])

ValueError: I require a string as input, found <class 'list'>

In [131]:
help(letter_counter)

Help on function letter_counter in module __main__:

letter_counter(message)
    Count the frequencies of each alphabet letter in the message

    Non alpha character such as punctuation are not allow and will
    raise an arror.

    Parameters
    ----------
    message : str
        input message to count letter freq.

    Return
    ------
    frequencies : dict
        all collected frequencies.

In [133]:
def letter_counter(message):
           
    frequencies = {}
         
    letter_set = set(message)
                 
    for item in letter_set:        
        if item.isalpha():            
            frequencies[item] = message.count(item)        
                 
    return frequencies

'my message'.count('m')

In [134]:
'my_message'.count('m')

2

In [146]:
def letter_count(sentence):
    
    sentence = sentence.lower()
    
    count_dict = {}
    alphabet = list(string.ascii_lowercase)    
    
    for letter in alphabet:
        count = 0
        for character in sentence:
            if character == " ":
                continue
            elif character not in alphabet:
                print('Non-alphabet character found: {}'.format(character))
                sentence = sentence.replace(character, "")
                continue
                
            if character.lower() == letter:
                count += 1
            
                count_dict[letter] = count
    
    return count_dict

In [148]:
def letter_counter(message):
    frequencies = {}
    
    for character in message:
        
        if not character.isalpha():
            continue
        
        if not character in frequencies:
            frequencies[character] = 1
        else:
            frequencies[character] += 1
            
    return frequencies

one_val